<div class="container">
	<h4 style="text-align: right; color: darkblue" class="has-info">User: {{currentUser}}</h4>
	<div style="text-align:right">
		<a [routerLink]="" (click)="logout()">Logout</a>
	</div>
	<a style="text-align: right" [routerLink]="['/game/0']">New record</a>
	<br>
	<br>
	<table id="games">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Platform</th>
			<th>Rate</th>
			<th>Status</th>
		</tr>
		<tr *ngFor="let game of allgames">
			<td>
				{{game.id}}
			</td>
			<td>
				<a [routerLink]="['/game', game.id]">{{game.title}}</a>
			</td>
			<td>
				{{game.platform}}
			</td>
			<td>
				{{game.rate}}
			</td>
			<td>
				{{game.status}}
			</td>
		</tr>
	</table>
</div>